<div class="row d-flex justify-content-left" >
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <table class="table table-striped">
             <thead>
              <tr>
                <th colspan="2" scope="col" style="text-align:center">Batting Average</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">LOGO Atlants Braves</th>
                <td>0.276</td>
              </tr>
              <tr>
                <th scope="row">LOGO Texas Rangers</th>
                <td>0.263</td>
              </tr>
              <tr>
                <th scope="row">LOGO Tampa Bay Rays</th>
                <td>0.260</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-left" >
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <table class="table table-striped">
             <thead>
              <tr>
                <th colspan="2" scope="col" style="text-align:center">Home Runs</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">LOGO Atlants Braves</th>
                <td>0.276</td>
              </tr>
              <tr>
                <th scope="row">LOGO Texas Rangers</th>
                <td>0.263</td>
              </tr>
              <tr>
                <th scope="row">LOGO Tampa Bay Rays</th>
                <td>0.260</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-left" >
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <table class="table table-striped">
             <thead>
              <tr>
                <th colspan="2" scope="col" style="text-align:center">On Base</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">LOGO Atlants Braves</th>
                <td>0.276</td>
              </tr>
              <tr>
                <th scope="row">LOGO Texas Rangers</th>
                <td>0.263</td>
              </tr>
              <tr>
                <th scope="row">LOGO Tampa Bay Rays</th>
                <td>0.260</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-left" >
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <table class="table table-striped">
             <thead>
              <tr>
                <th colspan="2" scope="col" style="text-align:center">Slugging</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">LOGO Atlants Braves</th>
                <td>0.276</td>
              </tr>
              <tr>
                <th scope="row">LOGO Texas Rangers</th>
                <td>0.263</td>
              </tr>
              <tr>
                <th scope="row">LOGO Tampa Bay Rays</th>
                <td>0.260</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
