<nav *ngIf="shownav" class="navbar">
  <ul class="nav nav-pills">
    <li class="nav-item"><a class="nav-link" [routerLink]="cururl+'/home'" routerLinkActive="active">Home</a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="cururl+'/leaders'" routerLinkActive="active" [routerLinkActiveOptions]="{ exact : true}">Leaders</a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="cururl+'/favorites'" routerLinkActive="active">Favorites</a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="cururl+'/compare'" routerLinkActive="active" [routerLinkActiveOptions]="{ exact : true}">Compare</a></li>
  </ul>

  <div class="col-sm-2">
    <mat-form-field >
      <input matInput placeholder="Search" [(ngModel)]="selectedItem" [matAutocomplete]="auto"
        [formControl]="searchMoviesCtrl">
      <button *ngIf="selectedItem" matSuffix mat-icon-button aria-label="Clear" (click)="clearSelection()">
        <mat-icon>close</mat-icon>
      </button>
      <mat-autocomplete [panelWidth]="400" #auto="matAutocomplete" (optionSelected)="onSelected()"
        [displayWith]="displayWith">
        <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
        <ng-container *ngIf="!isLoading">
          <mat-option *ngFor="let movie of filteredMovies" [value]="movie">
            <span><b>{{movie.Title}}</b> ({{movie.Year}})</span>
          </mat-option>
        </ng-container>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</nav>
