<!-- <div class="card"> -->
 <!--  <div class="card-header">
    {{pageTitle}}
  </div> -->

<!--   <div class="card-body">
    <div class="container-fluid">
        <div class="card-columns text-white">
            <div class="card text-center mb-1 green">
              <a style="color: white;" [routerLink]="['/isr']">
                <div class="card-body">
                  <h6>MY ISRs</h6>
                </div>
              </a>
            </div>
            <div class="card text-center mb-3 amber">
                <a style="color: white;" [routerLink]="['/isr/isrs']">
                  <div class="card-body">
                    <h6>View ISRs Submitted</h6>
                    (Current Week)
                  </div>
                </a>
              </div>
            <div class="card text-center mb-3 red">
                <a style="color: white;" [routerLink]="['/wsr']">
              <div class="card-body">
                <h5 class="card-title">WSR</h5>
              </div>
                </a>
            </div>
            <div class="card text-center mb-3 pink">
              <div class="card-body">
                <h5 class="card-title">TPR</h5>
              </div>
            </div>
          </div>
    </div>
  </div> -->
  <div class="row d-flex justify-content-center">
    <div class="col-sm-2">
      <a href="/mlb">
      <div class="card">
        <div class="card-body">
          <img class="card-img-left" width="220 px" height="200 px" src="https://www.mlbstatic.com/team-logos/league-on-dark/1.svg" alt="Card image cap">
          <h5 class="card-title text-center">MLB</h5>
          <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </a>
    </div>
    <div class="col-sm-2">
      <a href="/nfl">
        <div class="card">
          <div class="card-body">
            <img class="card-img-left" height="200 px" src="https://static.www.nfl.com/image/upload/v1554321393/league/nvfr7ogywskqrfaiu38m.svg" alt="Card image cap">
            <h5 class="card-title text-center">NFL</h5>
            <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-2">
      <div class="card card-body">
        <img class="card-img-left" width="300 px" height="200 px" src="https://cdn.nba.com/logos/leagues/logo-nba.svg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">NBA</h5>
          <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
  </div>

<!-- </div> -->
